#loadingContentModal {
  z-index: 9999;

  .modal-dialog {
    top: 280px;
    width: 500px;

  }

}

.wwt-modal {
  pointer-events: none;
  .modal-content {
    pointer-events: all;
  }
  [data-movable] {
    background: rgba(255, 255, 255, .85);
    color: #333;
    padding: 3px 5px;
    cursor: pointer;
  }
}

#simplemodal{
 
  #simpleinput{
    width: 271px !important;
    .modal-content {
      width: 271px !important;
      height: 146px;
      .modal-header {
        background: rgba(255, 255, 255, .85);
        color: #333;
        padding: 3px 5px;
        cursor: default;
      }
      input {
        width: 241px;

      }
      .modal-footer {
        border: none;
        a {
          width: 80px;
          margin-left: 10px;
        }
      }
    }
  }

}
