<div class="modal-header" data-movable="1" data-movable-target=".modal-dialog">
  <h5>
    <i class="fa fa-close pull-right" ng-click="$hide()"></i>
    <span localize="Data Visualization Layer"></span>
  </h5>
</div>
<div class="modal-body dataviz">
  <div ng-show="page=='welcome'">
    <div class="titlebar" ng-if="!propertyMode"><h3 localize="Welcome"></h3></div>

    <div class="page">
      <p
        localize="This wizard will guide you through the process of importing your data for visualization. On this first step paste your data and enter a friendly name for your layer, this is how it will appear in the Layer Manager. Select a reference frame for the coordinates in your data. This determines how WWT will plot your data and where."></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td><label localize="Paste Data"></label>
            <div class="paste-control" contenteditable="true" ng-paste="pasteExcel($event)"></div>
          </td>
          <td colspan="2"></td>

        </tr>
        <tr ng-show="layer">
          <td>
            <label localize="Layer Name"></label>
            <input type="text" ng-model="layer._name"></td>
          <td>
            <label localize="Coordinates Type"></label>
            <select ng-model="layer._coordinatesType$1" ng-options="c.type as c.label for c in coordTypes"></select>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='position'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Position"></h3>
    </div>
    <div class="page">
      <p
        localize="Use the drop-downs to select the columns that specify the coordinates, select the altitude/depth mapping type, and optionally the column that specifies the altitude/depth and the units in which the data is specified. Positive depth values offset downward. Positive altitude values offset upward."></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <tr>
          <td colspan="2">
            <label localize="Lat:"></label>
            <select ng-model="layer.latColumn" ng-options="c.index as c.label for c in columns"></select>
          </td>
          <td>
            <label localize="Type"></label>
            <select ng-model="layer._altType$1" ng-options="c.type as c.label for c in altTypes"></select>
          </td>
          <td>
            <label localize="Units"></label>
            <select ng-model="layer._altUnit$1" ng-options="c.type as c.label for c in altUnits"></select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label localize="Lng:"></label>
            <select ng-model="layer.lngColumn" ng-options="c.index as c.label for c in columns"></select>
          </td>
          <td colspan="2">
            <label localize="Altitude/Depth"></label>
            <select ng-model="layer.altColumn" ng-options="c.index as c.label for c in columns"></select>
          </td>

        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='scale'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Scale"></h3>
    </div>
    <div class="page">
      <p localize="desc"></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td>
            <label localize="field"></label>
            <input type="text">
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='markers'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Markers"></h3>
    </div>
    <div class="page">
      <p localize="desc"></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td>
            <label localize="field"></label>
            <input type="text">
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='colormap'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Color Map"></h3>
    </div>
    <div class="page">
      <p localize="desc"></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td>
            <label localize="field"></label>
            <input type="text">
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='date'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Date Time"></h3>
    </div>
    <div class="page">
      <p localize="desc"></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td>
            <label localize="field"></label>
            <input type="text">
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='hover'">
    <div class="titlebar" ng-if="!propertyMode">
      <h3 localize="Hover Text"></h3>
    </div>
    <div class="page">
      <p localize="desc"></p>
      <table>
        <col width="25%">
        <col width="25%">
        <col width="50%">
        <tr>
          <td>
            <label localize="field"></label>
            <input type="text">
          </td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="footer">
    <a ng-if="!propertyMode" class="btn" ng-class="{'disabled':!buttonsEnabled.back}"
       localize="Back" ng-disabled="!buttonsEnabled.back"
       ng-click="back()"
    ></a>
    <a ng-if="!propertyMode" class="btn" ng-class="{'disabled':!buttonsEnabled.next}"
       localize="Next" ng-disabled="!buttonsEnabled.next"
       ng-click="next()"
    ></a>
    <a ng-if="!propertyMode" class="btn" ng-class="{'disabled':!buttonsEnabled.finish}"
       localize="Finish" ng-disabled="!buttonsEnabled.finish"
       ng-click="finish();$hide()"
    ></a>
    <a ng-if="propertyMode" class="btn" localize="Done" ng-click="$hide()"></a>
  </div>


</div>
