<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="spectrumModalLabel">Electromagnetic Spectrum</h4>
            </div>-->
            <div class="modal-body">
                <a href="//aas.org" target="_blank" style="width:110px;height:110px;position:relative;left:3px;z-index:5"
                   class="pull-right">
                    <img ng-src="https://wwtweb.blob.core.windows.net/images/aas-white110.png"
                         localize="American Astronomical Society (AAS) Logo"
                         localize-only="alt" />
                </a>
                <a href="//worldwidetelescope.org/home" target="_blank" style="display:inline-block;position:relative;left:-3px;margin-right:7px;z-index:5" class="pull-left">
                    <img ng-src='https://wwtweb.blob.core.windows.net/webclient/wwtlogo.png'
                         style="width:110px;height:110px;"
                         localize="Microsoft WorldWide Telescope Logo"
                         localize-only="alt" />
                </a>
                <h1 style="position:relative;top:-2px;white-space:nowrap">
                    <small style="color:white">American Astronomical Society</small><br />
                    World<span style="color:#6ba9e6">Wide Telescope</span>
                </h1>
                <h3 localize="Welcome to the WorldWide Telescope Web Client"></h3>
                <!--<p><em>Please note that this is a private beta preview of development progress of the new HTML5 control which will be released soon! Some features are not functional in this preview.</em></p>
                    <p>-->
                <p>
                    {{tipsIntro}}
                </p>
                <ul>
                    <li localize="Move around the sky by clicking and dragging the Field of View."></li>
                    <li localize="Zoom in/out by scrolling the mouse wheel, pressing -/+ or Page Up/Page Down."></li>
                    <li localize="Drag with center mouse button or hold Ctrl while dragging to rotate and tilt view."></li>
                    <!--<li localize="Click an object’s thumbnail to pan to the object. Double-clicking the object’s thumbnail jumps you to the object."></li>
                    <li localize="Page through multiple thumbnail panes with the scroll wheel."></li>-->
                    <li localize="Right-click an object to display the contextual Finder Scope for more information."></li>
                    <li localize="Menu Tabs have two parts: click the tab’s top to open a pane, click the tab’s bottom to open submenus with additional functionality."></li>
                </ul>

                <h3 localize="Home Page Update"></h3>
                <p>
                    <span localize="We have moved our home page to "></span>
                    <a href="/home" localize="worldwidetelescope.org/home." target="_blank"></a>
                    <span localize="The web client (this page) is now the default landing page for WWT on the web. You can open the home page by clicking the home"></span>
                    (<i class="fa fa-home"></i>)
                    <span localize="icon in the top-left corner."></span>
                </p>
                <p localize="To return to this screen, click the Explore menu and choose Show Welcome Tips."></p>
                <div ng-if="loadingTour">
                    <p>&nbsp;</p>
                    <p localize="Loading tour..."></p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border: none">
                <div class="pull-left">
                    <div class="checkbox pull-left">
                        <label data-ng-class="iswebclientHome ? 'checked' : ''">
                            <input type="checkbox" ng-model="iswebclientHome" ng-change="homePrefChange(iswebclientHome)" />
                            <span localize="Show the web client as WWT landing page"></span>
                        </label>
                    </div>
                    <div class="clear"></div>
                    <div class="checkbox pull-left">
                        <label data-ng-class="hideIntroModal ? 'checked' : ''">
                            <input type="checkbox" ng-model="hideIntroModal" ng-change="hideIntroModalChange(hideIntroModal)" />
                            <span localize="Do not show me this dialog again"></span>
                        </label>
                    </div>

                </div>
                <a class="btn" ng-click="tourFeatures()">Tour WWT Features</a>
                <button type="button" class="btn" data-dismiss="modal" id="btnCloseIntro" style="width:80px" localize="Close"></button>
            </div>
        </div>
    </div>
</div>
<a href="javascript:void(0)" data-toggle="modal" data-target="#introModal" id="introModalLink">&nbsp;</a>
