<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a href="//aas.org"
           target="_blank"
           style="width:110px; height:110px; position:relative; left:3px; z-index:5"
           class="pull-right">
          <img ng-src="{{staticAssetsPrefix}}images/aas-white110.png"
               localize="American Astronomical Society (AAS) Logo"
               localize-only="alt" />
        </a>

        <a href="{{userwebUrlPrefix}}/home"
           target="_blank"
           style="display:inline-block; position:relative; left:-3px; margin-right:7px; z-index:5" class="pull-left">
          <img ng-src='{{staticAssetsPrefix}}images/wwtlogo.png'
               style="width:110px; height:110px;"
               localize="AAS WorldWide Telescope Logo"
               localize-only="alt" />
        </a>

        <h1 style="position:relative; top:-2px; white-space:nowrap">
          <small style="color:white">American Astronomical Society</small><br />
          World<span style="color:#6ba9e6">Wide Telescope</span>
        </h1>

        <div class="clear"></div>

        <p style="margin-top: 20px;">Welcome to AAS WorldWide Telescope!</p>

        <ul>
          <li localize="Move around the sky by clicking and dragging."></li>
          <li localize="Zoom in/out by scrolling the mouse wheel or pressing +/-."></li>
          <li localize="Right-click in the view to display the Finder Scope for more information."></li>
          <li localize="Menu tabs (“Explore”, “Guided Tours”, etc.) have two parts. Click the tab’s top to open a pane; click the tab’s bottom to open a submenu."></li>
        </ul>

        <h3 localize="WWT 2022: Coming February 15th!"></h3>

        <p>The latest version of AAS WorldWide Telescope — WWT 2022 — will
        launch on February 15th! Join us for the launch event on YouTube at 1
        PM, US Eastern time. Click through to watch the <b>epic</b> trailer and
        sign up for a reminder.</p>

        <p class="text-center">
          <a class="btn" href="https://youtu.be/U7PIAKCZHYM" target="_blank">Go to the Launch Event</a>
        </p>

        <h3 localize="Help Support WWT!"></h3>

        <p>The non-profit <a href="https://aas.org/" target="_blank">American Astronomical
        Society</a> needs your support so that WWT’s servers can keep on
        providing terabytes of astronomical imagery to users around the world
        for free!</p>

        <p class="text-center">
          <a class="btn" href="https://my.aas.org/services/AAS_Member/Fundraising/WWT/Donate_Now.aspx" target="_blank">Support WWT ❤️</a>
        </p>

        <p localize="To return to this screen, click the Explore menu and choose Show Welcome Tips."></p>

        <div ng-if="loadingTour">
          <p>&nbsp;</p>
          <p localize="Loading tour..."></p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer" style="border: none">
        <div class="pull-left">
          <div class="checkbox pull-left">
            <label data-ng-class="iswebclientHome ? 'checked' : ''">
              <input type="checkbox" ng-model="iswebclientHome" ng-change="homePrefChange(iswebclientHome)" />
              <span localize="Show the web client as WWT landing page"></span>
            </label>
          </div>

          <div class="clear"></div>

          <div class="checkbox pull-left">
            <label data-ng-class="hideIntroModal ? 'checked' : ''">
              <input type="checkbox" ng-model="hideIntroModal" ng-change="hideIntroModalChange(hideIntroModal)" />
              <span localize="Do not show me this dialog again"></span>
            </label>
          </div>
        </div>

        <a class="btn" ng-click="tourFeatures()">Tour WWT Features</a>

        <button type="button" class="btn" data-dismiss="modal" id="btnCloseIntro" style="width:80px" localize="Close"></button>
      </div>
    </div>
  </div>
</div>

<a href="javascript:void(0)" data-toggle="modal" data-target="#introModal" id="introModalLink">&nbsp;</a>
