<div class="modal-header">
  <h5 localize="Login before editing"></h5>
</div>

<div class="modal-body">
  <p>In order to save this tour to your WWT Community, you need to be logged
  in before making any changes to this tour. If you do not log in, you’ll
  still be able to save this file to your your computer.</p>

  <div class="checkbox">
    <label data-ng-class="{checked:remindEditTourLogin}">
      <input type="checkbox" ng-model="remindEditTourLogin" ng-change="remindPrefChange(remindEditTourLogin)"/>
      <span localize="Remind me to log in when I create or edit a tour"></span>
    </label>
  </div>
</div>

<div class="modal-footer" style="border: none">
  <a class="btn" ng-click="loginThenEdit()" localize="Log in"></a>
  <a class="btn" ng-click="$hide()" localize="Close"></a>
</div>
