<div data-ng-controller="ViewController" style="padding:1px 5px">
	<button aria-hidden="true" class="close pull-right" type="button" ng-click="$hide()" style="margin-right:10px;">×</button>
	<h5 style="margin:5px 0;" localize="View"></h5>
	
	<fieldset style="width:75%;padding:5px">
		<div>
			<label localize="Name">Name:</label>: <label>{{locationName}}</label>
		</div>
		<div>
		    <div class="pull-right">
		        
		        <label localize="Alt"></label>: <label>{{ctl.settings.get_locationAltitude().toFixed(1)}}m</label>
		    </div>
			<label localize="Lat"></label>: <label>{{formatHms(ctl.settings.get_locationLat())}}</label>
		</div>
		<div class="clearfix">
			<label localize="Lng"></label>: <label>{{formatHms(ctl.settings.get_locationLng())}}</label>
		</div>
		<div class="checkbox">
			<label data-ng-class="viewFromLocation ? 'checked' : ''">
				<input type="checkbox" ng-model="viewFromLocation" ng-change="setViewFromLocation()" />
				<span localize="View from this location"></span>
			</label>
		</div>
	</fieldset>
	
	<fieldset style="padding: 8px 5px 2px;width:75%" >
		<a class="btn" bs-popover="popover"
		   localize="Observing Time" localize-only="title"
		   data-content-template="views/popovers/observing-time.html"
		   ng-controller="ObservingTimeController"
		   data-animation="am-flip-x"
		   data-placement="bottom-left">
			{{now | date:'yyyy/MM/dd HH:mm:ss'}} &nbsp; <i class="fa fa-caret-down"></i>
		</a>
		<div><label>{{TimeMode}}</label></div>
		<div class="time-buttons">
			<a class="btn" ng-click="fastBack_Click()">
				<i class="fa fa-fast-backward"></i>

			</a>
			<a class="btn" ng-click="back_Click()">
				<i class="fa fa-backward"></i>

			</a>
			<a class="btn" ng-click="pause_Click()">

				<i class="fa fa-pause"></i>
			</a>
			<a class="btn" ng-click="play_Click()">

				<i class="fa fa-play"></i>
			</a>
			<a class="btn" ng-click="fastForward_Click()" id="btnFastFwd">
				<i class="fa fa-fast-forward"></i>

			</a>
			&nbsp;
			<a class="btn" ng-click="timeNow_Click()" id="btnTimeNow" localize="Now"></a>
		</div>

	</fieldset>
	<p>
		<div class="checkbox">
			<label data-ng-class="galaxyMode ? 'checked' : ''">
				<input type="checkbox" ng-model="galaxyMode" ng-change="galaxyModeChange()" />
				<span localize="Galactic Plane Mode"></span>
			</label>
		</div>
	</p>
	<p>&nbsp;</p>
	
</div>
