<div class="modal fade" id="nboModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content thumbnails" data-ng-controller="ThumbnailController" ng-init="initNearbyObjects()">
			<div ng-repeat="item in placesInCone track by $index" class="iblock">
				<span ng-if="item.get_thumbnailUrl().length > 15" class="thumbwrap">

					<a ng-click="clickThumb(item)" ng-mouseenter="hoverThumb(item)" ng-mouseleave="clearAnnotations()" title="{{item.get_name()}}" ng-class="item.get_thumbnailUrl() + item.get_name() == activeItem ? 'thumbnail active' : 'thumbnail'">
						<img ng-src="{{item.get_thumbnailUrl()}}" alt="Thumbnail of {{item.get_name()}}" />
						<label>{{item.get_name()}}</label>
					</a>

				</span>

			</div>
			
		</div>
	</div>
</div>
<a data-toggle="modal" data-target="#nboModal" id="nboModalLink">&nbsp;</a>
