<div class="modal-header" data-movable="1" data-movable-target=".modal-dialog">

  <h5>
    <i class="fa fa-close pull-right" ng-click="$hide()"></i>
    <span localize="VO Table Viewer:"></span>
    {{votable.pagedRows.length}}
    <span localize="of"></span>
    {{votable.rows.length}}
    <span localize="Rows"></span>

  </h5>
</div>
<div class="modal-body vo-cone-search vo-table-viewer" ng-controller="voTableViewer">

  <div class="row" style="margin-bottom:5px">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2 form-group-sm">
          <label localize="Marker Type"></label>
          <select class="form-control" ng-options="p.type as p.lbl for p in plotTypes"
                  ng-model="plotType" ng-change="updatePlot()">
          </select>

        </div>
        <div class="col-md-2 form-group-sm">
          <label localize="RA Source"></label>
          <select class="form-control" ng-options="c.id as c for c in colArray"
                  ng-model="RASource" ng-change="mapColumn('lngColumn', RASource)">
          </select>
        </div>
        <div class="col-md-2 form-group-sm">
          <label localize="Dec Source"></label>
          <select class="form-control" ng-options="c.id as c for c in colArray"
                  ng-model="DecSource" ng-change="mapColumn('latColumn',DecSource)">
          </select>
        </div>
        <div class="col-md-2 form-group-sm">
          <label localize="Distance Source"></label>
          <select class="form-control" ng-options="c.id as c for c in colArray"
                  ng-model="DistSource" ng-change="mapColumn('altColumn',DistSource)">
          </select>
        </div>
        <div class="col-md-2 form-group-sm">
          <label localize="Type Source"></label>
          <select class="form-control" ng-options="c.id as c for c in colArray"
                  ng-model="TypeSource" ng-change="mapColumn('markerColumn', TypeSource)">
          </select>
        </div>
        <div class="col-md-2 form-group-sm">
          <label localize="Size/Mag Source"></label>
          <select class="form-control" ng-options="c.id as c for c in colArray"
                  ng-model="SizeSource" ng-change="mapColumn('sizeColumn',SizeSource)">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3 search-buttons">
      <a class="btn" localize="Save As..."></a><br>
      <a class="btn" localize="Broadcast" ng-click="$hide()"></a>
    </div>
  </div>
  <div class="results">
    <table class="table">
      <thead>
      <tr>
        <th ng-repeat="c in votable.columns">
          <div class="ellipsize" title="{{c.id}}">{{c.id}}</div></th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="r in votable.pagedRows track by $index" ng-click="hilite(r,$index)"
          ng-class="{hilite:$index==hiliteIndex}">
        <td ng-repeat="v in r.columnData track by $index">
          <div class="ellipsize" title="{{colArray[$index].id}}: {{v}}">{{v}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
