<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wurfl" type="WURFL.Aspnet.Extensions.Config.WURFLConfigurationSection, Wurfl.Aspnet.Extensions, Version=1.5.1.1, Culture=neutral, PublicKeyToken=816aeec277aa13b9" />
  </configSections>
  
  <appSettings>
	<add key="WebClientResourcesLocation" value="" />
	  <add key="ResourcesVersion" value="5.1.39" />
    <add key="Staging" value="true" />
    <add key="Standalone" value="true" />
  </appSettings>
  
  <system.web>
	<compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off" />
  
  </system.web>
  <system.webServer>
	<staticContent>
	  <mimeMap fileExtension=".wwtl" mimeType="application/wwtl" />
	  <mimeMap fileExtension=".wtt" mimeType="application/wtt" />
	  <mimeMap fileExtension=".wwtmm" mimeType="application/wwtmm" />
	  <mimeMap fileExtension=".wtml" mimeType="application/wtml" />
	</staticContent>
  <!--<httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
<!-- Note about WURFL config
	   You can use the root operator (~) to refer to a virtual path. -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Wurfl" publicKeyToken="816aeec277aa13b9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.1" newVersion="1.6.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Wurfl.Aspnet.Extensions" publicKeyToken="816aeec277aa13b9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.1" newVersion="1.6.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<!-- Note about WURFL config
       You can use the root operator (~) to refer to a virtual path. --><wurfl mode="Performance">
    <mainFile path="~/App_Data/wurfl-latest.zip" />
  </wurfl></configuration>
