<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
	<add key="WebClientResourcesLocation" value="" />
	  <add key="ResourcesVersion" value="5.3.46" />
    <add key="Staging" value="true" />
    <add key="Standalone" value="true" />
  </appSettings>
  
  <system.web>
	<compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off" />
  
  </system.web>
  <system.webServer>
	<staticContent>
	  <mimeMap fileExtension=".wwtl" mimeType="application/wwtl" />
	  <mimeMap fileExtension=".wtt" mimeType="application/wtt" />
	  <mimeMap fileExtension=".wwtmm" mimeType="application/wwtmm" />
	  <mimeMap fileExtension=".wtml" mimeType="application/wtml" />
	</staticContent>
  <!--<httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>

</configuration>
