<?xml version="1.0"?>
<configuration>
  
  <appSettings>
	<add key="ResourcesLocation" value=""/>
	  <add key="ResourcesVersion" value="5.1.37"/>
	  <add key="Staging" value="true"/>
  </appSettings>
  
  <system.web>
	<compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off"/>
  </system.web>

</configuration>
