<div class="layer-manager" ng-controller="LayerManagerController" ng-hide="layerManagerHidden">
	<button aria-hidden="true" class="close pull-right" type="button" ng-click="toggleLayerManager()">×</button>
	<h5 localize="Layers"></h5>
  <div class="tree" ng-class="sunTree.collapsed ? 'collapsed' : ''">
    <div class="checkbox">
      <i ng-class="sunTree.collapsed ? 'fa fa-plus-square-o' : 'fa fa-minus-square-o'"
         ng-click="sunTree.collapsed = !sunTree.collapsed;sunNodeChange(sunTree)"></i>
      <label data-ng-class="sunTree.enabled ? 'checked' : ''">
        <input type="checkbox" ng-model="sunTree.enabled" data-ng-change="sunNodeChange(sunTree)"/>
        <span data-localize="Sun"></span>

      </label>
    </div>
    <div class="indent" ng-class="node.collapsed?'collapsed': ''" ng-repeat="(name,node) in sunTree.childMaps">
      <ng-include src="'views/sun-tree-node.html'"></ng-include>
      <div class="indent" ng-class="node.collapsed?'collapsed': ''" ng-repeat="(name,node) in node.childMaps">
        <ng-include src="'views/sun-tree-node.html'"></ng-include>

      </div>
    </div>
  </div>
	<div class="tree" ng-class="tree.collapsed?'collapsed':''">
		<div class="checkbox">
			<i ng-class="tree.collapsed ? 'fa fa-plus-square-o' : 'fa fa-minus-square-o'" ng-click="tree.collapsed = !tree.collapsed;nodeChange(tree)"></i>
			<label data-ng-class="tree.checked ? 'checked' : ''">
				<input type="checkbox" ng-model="tree.checked" data-ng-change="nodeChange(tree)" />
				<span data-localize="{{tree.name}}"></span>

			</label>
		</div>
		<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in tree.children">
			<ng-include src="'views/tree-node.html'"></ng-include>
			<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
				<ng-include src="'views/tree-node.html'"></ng-include>
				<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
					<ng-include src="'views/tree-node.html'"></ng-include>
					<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
						<ng-include src="'views/tree-node.html'"></ng-include>
						<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
							<ng-include src="'views/tree-node.html'"></ng-include>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
