<!--<a class="btn" id="propertyPanelLink"
   bs-popover
   title="{{getFromEn('Properties')}}"
   data-content-template="views/popovers/property-panel.html"
   data-placement="bottom">&nbsp;pop</a>-->
<ul class="dropdown-menu" role="menu" id="researchMenu">
	<li><a href="javascript:void(0)">{{getFromEn('Name:')}} {{menuContext.get_name()}}</a></li>
	<li class="dropdown-submenu">
		<a href="javascript:void(0)">{{getFromEn('Information')}}</a>
		<ul class="dropdown-menu" style="height:208px">
			<li><a href="http://www.bing.com/search?q={{menuContext.get_name().split(' ').join('+')}}" target="bing">{{getFromEn('Look up on Bing')}}</a></li>
			<li><a href="http://simbad.u-strasbg.fr/simbad/sim-id?Ident={{menuContext.get_name().split(' ').join('+')}}" target="simbad">{{getFromEn('Look up on SIMBAD')}}</a></li>
			<li><a href="http://seds.org/~spider/ngc/ngc.cgi?{{menuContext.get_name()}}" target="seds">{{getFromEn('Look up on SEDS')}}</a></li>
			<li><a href="http://en.wikipedia.org/wiki/{{menuContext.get_name().split(' ').join('_')}}" target="wiki">{{getFromEn('Look up on Wikipedia')}}</a></li>
			<li><a href="http://adsabs.harvard.edu/cgi-bin/abs_connect?db_key=AST&sim_query=YES&object={{menuContext.get_name().split(' ').split(';')[0]}}" target="wiki">{{getFromEn('Look up publication on ADS')}}</a></li>
			<li><a href="http://ned.ipac.caltech.edu/cgi-bin/nph-imgdata?objname={{menuContext.get_name()}}" target="ned">{{getFromEn('Look up on NED')}}</a></li>
			<li><a href="http://cas.sdss.org/dr7/en/tools/quicklook/quickobj.asp?id={{menuContext.get_name()}}" target="sdss">{{getFromEn('Look up on SDSS')}}</a></li>
		</ul>
	</li>
	<li class="dropdown-submenu">
		<a href="javascript:void(0)">{{getFromEn('Imagery')}}</a>
		<ul class="dropdown-menu" style="height:67px;">
			<li>
				<a href="javascript:void(0)">{{getFromEn('Get DSS Image')}}</a>
			</li>
			<li>
				<a href="javascript:void(0)">{{getFromEn('Get SDSS Image')}}</a>
			</li>
		</ul>
	</li>
	
	<li role="presentation" class="divider"></li>
	<li><a ng-click="setBackgroundImage(menuContext)" href="javascript:void(0)">{{getFromEn('Set as Background Imagery')}}</a></li>
	<li><a ng-click="setForegroundImage(menuContext)" href="javascript:void(0)">{{getFromEn('Set as Foreground Imagery')}}</a></li>
	<li role="presentation" class="divider"></li>
	<li><a href="javascript:void(0)" ng-click="showProperties()">{{getFromEn('Properties')}}</a></li>
	<!--<li><a href="javascript:void(0)">{{getFromEn('Copy Shortcut')}}</a></li>-->
</ul>