<div ng-if="name">
  <i ng-if="hasChildren(node)"
     ng-class="node.collapsed ? 'fa fa-plus-square-o' : 'fa fa-minus-square-o'"
     ng-click="node.collapsed = !node.collapsed;"></i>
  <i ng-if="!hasChildren(node)" class="fa">&nbsp;&nbsp;&nbsp;</i>
  <div class="checkbox" ng-right-click="showMenu(node,$event)">
    <label data-ng-class="{checked:node.enabled, disabledChild:!node.enabled}" localize="{{name}}"
           localize-only="title">
      <input type="checkbox" ng-model="node.enabled"/>
      <span localize="{{name}}"></span>
    </label>
  </div>
</div>
