<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-body">
				<img ng-src="{{resLocation}}/Images/wwtlogo.png" style="width:19%;height:19%;position:relative;left:-3px;margin-right:12px;" class="pull-left" alt="{{getFromEn('Microsoft WorldWide Telescope')}} Logo" />
				<h1 style="position:relative;top:-2px">
					<small style="color:white">Microsoft<sup>&reg;</sup> Research</small><br />
					World<span style="color:#6ba9e6">Wide Telescope</span>
				</h1>
				<h3>{{getFromEn('Content Loading. Please Wait...')}}</h3>
				
				
			</div>
			<div class="modal-footer" style="border: none">
				
			</div>
		</div>
	</div>
</div>
<a href="javascript:void(0)" data-toggle="modal" data-target="#loadingModal" id="loadingModalLink">&nbsp;</a>