<div class="modal" id="nboModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content thumbnails" id="contextContainer" data-ng-controller="ContextPanelController" data-scroll-buffer="3" ng-init="initNearbyObjects()">
            <ng-include src="'views/research-menu.html'"></ng-include>
	        <div ng-repeat="item in collectionPage track by $index" class="iblock tn" ng-if="scrollDepth > $index">
	            <ng-include src="'views/thumbnail.html'"></ng-include>
	        </div>
	    </div>
	</div>
</div>
<a data-toggle="modal" data-target="#nboModal" id="nboModalLink">&nbsp;</a>
