<div ng-controller="SettingsController" style="padding:5px 5px 16px 8px">
	<button aria-hidden="true" class="close pull-right" type="button" ng-click="$hide()" style="margin-right:10px;">×</button>
	<h5 style="margin:5px 0;">{{getFromEn('Settings')}}</h5>
	<fieldset style="width:75%">

		<p>
			<div class="checkbox">
				<label data-ng-class="crosshairs ? 'checked' : ''">
					<input type="checkbox" ng-model="crosshairs" data-ng-change="saveSettings()" />
					{{getFromEn('Reticle/Crosshairs')}}
				</label>
			</div>
		</p>
		<p>
			<div class="checkbox">
				<label data-ng-class="smoothPanning ? 'checked' : ''">
					<input type="checkbox" ng-model="smoothPanning" data-ng-change="saveSettings()" />
					{{getFromEn('Smooth Panning')}}
				</label>
			</div>
		</p>


		<p>

			<label>{{getFromEn('Select Your Language')}}</label><br />
			<select ng-change="setLanguageCode(selectedLanguage)" ng-model="selectedLanguage" ng-options="l.code as l.label for l in availableLanguages"></select>
		</p>
		<p>
			<div class="checkbox">
				<label data-ng-class="WebGl ? 'checked' : ''">
					<input type="checkbox" ng-model="WebGl" data-ng-change="setWebGl()" />
					{{getFromEn('Use WebGL (if available)')}}
				</label>
			</div>
		</p>
	</fieldset>
</div>