<div class="modal-header" data-movable="1" data-movable-target=".modal-dialog">
  <h5>
    <i class="fa fa-close pull-right" ng-click="$hide()"></i>
    <span localize="Reference Frame"></span>
  </h5>
</div>
<div class="modal-body">
  <div ng-show="page=='welcome'">
    <div class="titlebar"><h3 localize="Welcome"></h3></div>
    <div class="page">
      <p localize="This wizard will guide you through the process of creating a new reference frame. A reference frame allows you to have local coordinates, scale and time relative to the rest of the universe. The reference can be based on fixed offsets, spherical coordinates, Keplarian orbits, or a interpolated values from a list of data/time and position offsets."></p>
      <div class="iblock">
        <label localize="Reference Frame Name"></label>
        <input type="text" ng-model="refFrameName" data-ng-change="buttonsEnabled.next = refFrameName.length > 0"/>
      </div>
      <div class="iblock">
        <label localize="Offset type"></label>
        <select ng-change="setOffsetType()" ng-model="offsetType" ng-options="c.type as c.label for c in offsetTypes"></select>

      </div>
    </div>
  </div>
  <div ng-show="page=='options'">
    <div class="titlebar"><h3 localize="General Options"></h3></div>
    <div class="page">
      <p localize="The Mean allows you to specify the primary bounds of the reference frame such as the surface height of a planet, or the bounding sphere of a 3d model of a spacecraft. Rotation period and zero rotation day allow the specification of a rotating frame of reference. Heading Pitch and roll allow for orientation relative to the parent reference frame. Station Keeping automatically orients the reference frame to track the Earth rather than tumble in orbit."></p>
      <table style="table-layout: fixed;width:90%">
        <colgroup>
          <col style="width:27%">
          <col style="width:27%">
          <col style="width:19%">
          <col style="width:27%">
        </colgroup>
        <tr>
          <td>
            <label localize="Mean Radius (meters)"></label>
            <input type="number" ng-model="refFrame.meanRadius"/>
          </td>
          <td><label localize="Rotation Period (days)"></label>
            <input type="number" ng-model="refFrame.rotationalPeriod"/>
          </td>
          <td><label localize="Heading"></label>
            <input type="number" ng-model="refFrame.heading"/>
          </td>
          <td rowspan="3">
            <label localize="Orbit/Point Color"></label>
            <input type="color" ng-change="colorChange()" ng-model="hexColor"/>
            <div class="checkbox">
              <label ng-class="refFrame.showAsPoint ? 'checked' : ''">
                <input type="checkbox" ng-model="refFrame.showAsPoint"  />
                <span localize="Show as Point at Distance"></span>
              </label>
            </div>
            <div class="checkbox">
              <label ng-class="refFrame.showOrbitPath ? 'checked' : ''">
                <input type="checkbox" ng-model="refFrame.showOrbitPath"  />
                <span localize="Show Orbit Path"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td><label localize="Oblateness (Percent)"></label>
            <input type="number" ng-model="refFrame.oblateness"/>
          </td>
          <td><label localize="Zero Rotation (Julian Day)"></label>
            <input type="number" ng-model="refFrame.zeroRotationDate"/>
          </td>
          <td><label localize="Pitch"></label>
            <input type="number" ng-model="refFrame.pitch"/>
          </td>
        </tr>
        <tr>
          <td><label localize="Scale (Meters to Units)"></label>
            <input type="number" ng-model="refFrame.scale"/>
          </td>
          <td><div class="checkbox">
            <label ng-class="refFrame.stationKeeping ? 'checked' : ''">
              <input type="checkbox" ng-model="refFrame.stationKeeping"  />
              <span localize="Station Keeping"></span>
            </label>
          </div></td>
          <td><label localize="Roll"></label>
            <input type="number" ng-model="refFrame.roll"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="page=='position'">
    <div class="titlebar"><h3 localize="Position"></h3></div>
    <div class="page">
      <p localize="Select the Latitude, Longitude, and Altitude"></p>

    </div>
  </div>
  <div ng-show="page=='trajectory'">
    <div class="titlebar"><h3 localize="Trajectory"></h3></div>
    <div class="page">
      <p localize="Trajectory..."></p>

    </div>
  </div>
  <div class="footer">
    <a class="btn" ng-class="{'disabled':!buttonsEnabled.back}"
       localize="Back" ng-disabled="!buttonsEnabled.back"
      ng-click="back()"
    ></a>
    <a class="btn" ng-class="{'disabled':!buttonsEnabled.next}"
       localize="Next" ng-disabled="!buttonsEnabled.next"
      ng-click="next()"
    ></a>
    <a class="btn" ng-class="{'disabled':!buttonsEnabled.finish}"
       localize="Finish" ng-disabled="!buttonsEnabled.finish"
      ng-click="finish()"
    ></a>
  </div>


</div>
