<div class="row">
	<div class="col-xs-4">
		<label localize="Year"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.year" /><br />
		<label localize="Hrs"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.hours" /><br />

	</div>

	<div class="col-xs-4 tiny">
		<label localize="Month"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.month" /><br />
		<label localize="Min"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.minutes" /><br />

	</div>

	<div class="col-xs-4">
		<label localize="Day"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.date" /><br />
		<label localize="Sec"></label><br />
		<input class="input-sm tiny" type="number" ng-model="dt.seconds" /><br />

	</div>

</div>
<div class="row">
	<div class="col-xs-12" style="margin-top:8px">
		<a class="btn pull-right rel" style="margin-left:4px" ng-click="setNow();$hide()" localize="Ok"></a>
		<a class="btn pull-right rel" ng-click="setNow();" localize="Apply"></a>
		
		<div class="checkbox iblock">
			<label data-ng-class="useUTC ? 'checked' : ''">
				<input type="checkbox" ng-model="useUTC" />
				<span localize="UTC"></span>

			</label>
		</div>
		
	</div>
</div>