<div class="property-panel" ng-if="propertyItem">
	<a class="thumbnail pull-left">
		<img ng-src="{{propertyItem.get_thumbnailUrl()||propertyItem.imageSet.get_thumbnailUrl()}}" />
	</a>
	<h4>{{getFromEn('Classification')}}: <span>{{getClassificationText(propertyItem.get_classification())}}</span></h4>
	<h4 ng-if="!propertyItem.isSurvey">{{getFromEn('Constellation')}}: <span>{{constellations.fullNames[propertyItem.get_constellation()]}}</span></h4>
	<h4>{{getFromEn('Names:')}} <span>{{propertyItem.get_names()?propertyItem.get_names().join(', '): propertyItem.get_name()}}</span></h4>
	<hr />
	<div style="width:48%;display:inline-block" ng-if="!propertyItem.isSurvey">
		<p>{{getFromEn('RA')}}: <span>{{formatHms(propertyItem.get_RA(), true)}}</span></p>
		<p>{{getFromEn('Dec')}}: <span>{{formatHms(propertyItem.get_dec(), false, true, true)}}</span></p>
		<p>{{getFromEn('Alt')}}: <span>{{formatHms(propertyItem.altAz.get_alt(), false, false, true)}}</span></p>
		<p>{{getFromEn('Az')}}: <span>{{formatHms(propertyItem.altAz.get_az(), false, false, true)}}</span></p>
	</div>
	<div style="width:48%;display:inline-block;margin-left:7px">
		<p>{{getFromEn('Distance')}}: <span>{{propertyItem.get_distance() == 0 ? getFromEn('n/a') : UITools.formatDistance(propertyItem.get_distance())}}</span></p>
		<p>{{getFromEn('Mag')}}: <span>{{propertyItem.get_magnitude() == 0 ?  getFromEn('n/a') : propertyItem.get_magnitude().toFixed(2)}}</span></p>
		<p>{{getFromEn('Rise')}}: <span>{{propertyItem.riseSet ? propertyItem.riseSet.bNeverRises ? getFromEn('Never Rises') : formatDecimalHours(propertyItem.riseSet.rise, false, false, true) : getFromEn('n/a')}}</span></p>
		<p>{{getFromEn('Transit')}}:  <span>{{propertyItem.riseSet ? formatDecimalHours(propertyItem.riseSet.transit, false, false, true) : getFromEn('n/a')}}</span></p>
		<p>{{getFromEn('Set')}}: <span>{{propertyItem.riseSet ? propertyItem.riseSet.bNeverSets? getFromEn('Never Sets') : formatDecimalHours(propertyItem.riseSet.set, false, false, true) : getFromEn('n/a')}}</span></p>
	</div>
	<div style="margin-bottom:8px;">
		<h5 style="margin-bottom:5px;">{{getFromEn('Image Credit')}}:</h5>
		<p style="max-height:35px;overflow:hidden">{{getCreditsText(propertyItem)}}</p>
		<p><a href="{{getCreditsUrl(propertyItem)}}" target="_blank">{{getCreditsUrl(propertyItem)}}</a></p>
	</div>
	<div style="height:30px;">
		<div class="buttons pull-right">

			<div ng-if="!propertyItem.isSurvey && !propertyItem.isExploreTab" class="dropup" style="display: inline-block">
				<a class="btn" data-toggle="dropdown" role="button">
					{{getFromEn('Research')}}
					<i class="fa fa-caret-down" style="font-size:12px"></i>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="javascript:void(0)" title="{{propertyItem.get_name()}}">{{getFromEn('Name:')}} {{propertyItem.get_name()}}</a></li>
					<li class="dropdown-submenu">
						<a href="javascript:void(0)">{{getFromEn('Information')}}</a>
						<ul class="dropdown-menu" style="height:180px">
							<li><a href="http://www.bing.com/search?q={{propertyItem.get_name().split(' ').join('+')}}" target="bing">{{getFromEn('Look up on Bing')}}</a></li>
							<li><a href="http://simbad.u-strasbg.fr/simbad/sim-id?Ident={{propertyItem.get_name().split(' ').join('+')}}" target="simbad">{{getFromEn('Look up on SIMBAD')}}</a></li>
							<li><a href="http://seds.org/~spider/ngc/ngc.cgi?{{propertyItem.get_name()}}" target="seds">{{getFromEn('Look up on SEDS')}}</a></li>
							<li><a href="http://en.wikipedia.org/wiki/{{propertyItem.get_name().split(' ').join('_')}}" target="wiki">{{getFromEn('Look up on Wikipedia')}}</a></li>
							<li><a href="http://adsabs.harvard.edu/cgi-bin/abs_connect?db_key=AST&sim_query=YES&object={{propertyItem.get_name().split(' ').split(';')[0]}}" target="wiki">{{getFromEn('Look up publication on ADS')}}</a></li>
							<li><a href="http://ned.ipac.caltech.edu/cgi-bin/nph-imgdata?objname={{propertyItem.get_name()}}" target="ned">{{getFromEn('Look up on NED')}}</a></li>
							<li><a href="http://cas.sdss.org/dr7/en/tools/quicklook/quickobj.asp?id={{propertyItem.get_name()}}" target="sdss">{{getFromEn('Look up on SDSS')}}</a></li>
							<li class="clearfix"></li>
						</ul>
					</li>
					<li class="dropdown-submenu">
						<a href="javascript:void(0)">{{getFromEn('Imagery')}}</a>
						<ul class="dropdown-menu" style="height:67px;">
							<li>
								<a href="javascript:void(0)">{{getFromEn('Get DSS Image')}}</a>
							</li>
							<li>
								<a href="javascript:void(0)">{{getFromEn('Get SDSS Image')}}</a>
							</li>
						</ul>
					</li>
					<li role="presentation" class="divider"></li>
					<li><a href="javascript:void(0)" ng-click="setBackgroundImage(propertyItem)">{{getFromEn('Set as Background Imagery')}}</a></li>
					<li><a href="javascript:void(0)" ng-click="setForegroundImage(propertyItem)">{{getFromEn('Set as Foreground Imagery')}}</a></li>
					<!--<li role="presentation" class="divider"></li>
					<li><a href="javascript:void(0)">{{getFromEn('Copy Shortcut')}}</a></li>-->
				</ul>
			</div>
			<a ng-if="!propertyItem.isSurvey && !propertyItem.isExploreTab" class="btn">{{getFromEn('Show Object')}}</a>
			<a class="btn close-btn pull-right" ng-click="$hide()">{{getFromEn('Close')}}</a>
		</div>
	</div>
</div>