<div data-ng-controller="ShareController" ng-init="init()">
	<h4 style="margin-top:-5px" localize="Share"></h4>
	<h5>{{trackingObj.get_name()}}</h5>
	<div>

    <div class="form-group">
      <textarea class="form-control" ng-model="shareUrlReadOnly" id="shareUrl" ng-change="init()" rows="5" style="resize:vertical"></textarea>
    </div>
    <a ng-click="copyLink($event, 'textarea')" style="cursor: pointer">
      <i class="fa fa-copy"></i>
      <span localize="Copy to clipboard">Copy the above link to your clipboard</span>
    </a>

		<p>
			<div class="checkbox">
				<label data-ng-class="includeViewport ? 'checked' : ''">
					<input type="checkbox" ng-model="includeViewport" data-ng-change="includeViewportChange()" />
					<span localize="Include current viewport (coordinates / zoom level)"></span>
				</label>
			</div>
		</p>
	</div>
	<p>
		<!--<a class="btn pull-right" ng-click="shareFB()">Share on facebook</a>-->
		<button type="button" class="btn pull-right" ng-click="hide()" id="btnCloseShare" style="width:80px" localize="Close"></button>
	</p>
	<div class="clearfix"></div>
</div>
