<div data-ng-controller="ShareController" ng-init="init()">
	<h4 style="margin-top:-5px">{{getFromEn('Share')}}</h4>
	<h5>{{trackingObj.get_name()}}</h5>
	<div>
		<p>
			<div class="form-group">
				<textarea class="form-control" ng-model="shareUrlReadOnly" id="shareUrl" ng-change="init()" rows="5" style="resize:vertical"></textarea>
				<!--
					Copying to clipboard costs too much - best to tell users to do it.
					<span class="input-group-addon">
					<i class="fa fa-copy" bs-tooltip="'Copy to clipboard'"></i>
				</span>-->
			</div>
			({{getFromEn('Copy the above link to your clipboard')}})
		</p>

		<p>
			<div class="checkbox">
				<label data-ng-class="includeViewport ? 'checked' : ''">
					<input type="checkbox" ng-model="includeViewport" data-ng-change="includeViewportChange()" />
					{{getFromEn('Include current viewport (coordinates / zoom level)')}}

				</label>
			</div>
		</p>
	</div>
	<p>
		<button type="button" class="btn pull-right" ng-click="hide()" id="btnCloseShare" style="width:80px">{{getFromEn('Close')}}</button>
	</p>
	<div class="clearfix"></div>
</div>
