<div class="popover slide-overlays" ng-if="overlayList && editingTour">
    <h3 class="popover-title" data-movable="1" data-movable-target=".slide-overlays" data-sticky="overlaymodal">
        <span localize="Overlay List"></span>
        <a class="btn close-x pull-right" ng-click="showOverlayList()">
            <i class="fa fa-close"></i>
        </a>
    </h3>
    <div class="popover-content" ng-controller="SlideSelectionController">
        <div class="checkbox" ng-repeat="overlay in overlays">
            <label data-ng-class="{checked:overlay.selected}">
                <input type="checkbox"  ng-change="selectionChange(overlay)" ng-model="overlay.selected"  />
                {{overlay._name}} 
            </label>
        </div>
    </div>
</div>
