<div class="tour-info">
    <h3 class="rel">
        <!--<a ng-click="playTour(tour.get_tourUrl())" class="iblock" style="cursor: pointer;position:absolute;z-index: 10">
            <i class="fa fa-play-circle text-info"></i>
        </a>-->
        <a class="btn-play-tour iblock" ng-click="playTour(tour.get_tourUrl())">
            <i class="fa fa-play"></i>
        </a>
        <span class="label" style="margin-left: 42px">{{tour.get_name()}}</span>
        <div style="display: inline-block" class="pull-right">
            <span class="small">
                <span localize="Rating"></span>:
                <div class="rating-container" bs-tooltip="tooltip" title="Average Rating: {{tour.averageRating.toFixed(1)}}" data-container="body">
                    <div class="gray-stars">
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                    </div>
                    <div class="gold-stars" style="width:{{ 67 * (tour.averageRating / 5) }}px">
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star text-muted"></i>
                    </div>
                </div>
            </span>
            <span class="small"><span localize="Run Length"></span>: {{secondsToTime(tour.lengthInSecs).h}}:{{secondsToTime(tour.lengthInSecs).m}}:{{secondsToTime(tour.lengthInSecs).s}}</span>
        </div>
    </h3>
    <div style="margin:5px 0">
        <a class="pull-left author-image">
            <img alt="Author Image" ng-src="//worldwidetelescope.org/wwtweb/GetAuthorThumbnail.aspx?GUID={{tour.id}}" />
        </a>
        <h4>{{tour.author}}</h4>
        <h5>{{tour.organizationName}}</h5>
        <p>{{tour.description}}</p>
        <div ng-if="relatedTours" style="clear:left">
            <h4 localize="Related Tours"></h4>
            <hr />
            <div style="display: inline-block;vertical-align:top;" ng-repeat="item in relatedTours">
                <a ng-click="clickThumb(item)"
                   title="{{item.get_name()}}"
                   class="thumbnail">
                    <img ng-src="{{item.get_thumbnailUrl()}}" alt="Thumbnail of {{item.get_name()}}" />
                    <label>{{item.get_name()}}</label>
                </a>
            </div>
        </div>
    </div>
    <div><a class="btn close-btn pull-right" ng-click="$hide()" style="margin:5px 0" localize="Close"></a></div>
</div>