<div class="popover tour-props">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <label localize="Tour Title *"></label>
        <input type="text" ng-model="::tour.get_title()" ng-change="tour.set_title($event.target.value)" />
        <label localize="Tour Description"></label>
        <textarea ng-model="::tour.get_description()" ng-change="tour.set_description($event.target.value)"></textarea>
        <label localize="Author Name"></label>
        <input type="text" ng-model="::tour.get_author()" ng-change="tour.set_author($event.target.value)" />
        <label localize="Author Email"></label>
        <input type="text" ng-model="::tour.get_authorEmail()" ng-change="tour.set_authorEmail($event.target.value)"  />
        
    </div>
</div>