<div class="popover">
    <div class="choose-transition">
        <div class="transition-container">
            <div class="right-arrow">
                <i class="arrow-line"></i><i class="arrow-head"></i>
            </div>
            <div class="right-arrow">
                <i class="arrow-line"></i><i class="arrow-head"></i>
            </div>
            <div class="right-arrow">
                <i class="arrow-line"></i><i class="arrow-head"></i>
            </div>
            <div class="right-arrow">
                <i class="arrow-line"></i><i class="arrow-head"></i>
            </div>
            <div class="right-arrow">
                <i class="arrow-line"></i><i class="arrow-head"></i>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-4">
                <label>A Time</label>
                <input type="number" min="0" />
            </div>
            <div class="col-md-4">
                <label>Hold Time</label>
            </div>
            <div class="col-md-4">
                <label>B Time</label>
            </div>
        </div>
    </div>
</div>
