
<ul class="dropdown-menu" role="menu" id="researchMenu">
	<li><a href="javascript:void(0)"><span localize="Name"></span>: {{menuContext.get_name()}}</a></li>
	<li class="dropdown-submenu">
		<a href="javascript:void(0)" localize="Information"></a>
		<ul class="dropdown-menu" style="height:208px">
			<li><a href="//www.bing.com/search?q={{menuContext.get_name().split(' ').join('+')}}" target="bing" localize="Look up on Bing"></a></li>
			<li><a href="//simbad.u-strasbg.fr/simbad/sim-id?Ident={{menuContext.get_name().split(' ').join('+')}}" target="simbad" localize="Look up on SIMBAD"></a></li>
			<li><a href="//seds.org/~spider/ngc/ngc.cgi?{{menuContext.get_name()}}" target="seds" localize="Look up on SEDS"></a></li>
			<li><a href="//en.wikipedia.org/wiki/{{menuContext.get_name().split(' ').join('_')}}" target="wiki" localize="Look up on Wikipedia"></a></li>
			<li><a href="//adsabs.harvard.edu/cgi-bin/abs_connect?db_key=AST&sim_query=YES&object={{menuContext.get_name().split(' ').split(';')[0]}}" target="wiki" localize="Look up publication on ADS"></a></li>
			<li><a href="//ned.ipac.caltech.edu/cgi-bin/nph-imgdata?objname={{menuContext.get_name()}}" target="ned" localize="Look up on NED"></a></li>
			<li><a href="//cas.sdss.org/dr7/en/tools/quicklook/quickobj.asp?id={{menuContext.get_name()}}" target="sdss" localize="Look up on SDSS"></a></li>
		</ul>
	</li>
	<li class="dropdown-submenu">
		<a href="javascript:void(0)" localize="Imagery"></a>
		<ul class="dropdown-menu" style="height:67px;">
			<li>
				<a href="javascript:void(0)" localize="Get DSS Image"></a>
			</li>
			<li>
				<a href="javascript:void(0)" localize="Get SDSS Image"></a>
			</li>
		</ul>
	</li>

  <li role="presentation" class="divider"></li>
	<li><a ng-click="setBackgroundImage(menuContext)" href="javascript:void(0)" localize="Set as Background Imagery"></a></li>
	<li><a ng-click="setForegroundImage(menuContext)" href="javascript:void(0)" localize="Set as Foreground Imagery"></a></li>
	<li role="presentation" class="divider"></li>
	<li><a href="javascript:void(0)" ng-click="showProperties()" localize="Properties"></a></li>
	<!--<li><a href="javascript:void(0)" localize="Copy Shortcut"></a></li>-->
</ul>
