<span ng-if="item.get_thumbnailUrl().length > 15 && $index >= currentPage * pageSize && $index < (currentPage +1 ) * pageSize" class="thumbwrap">
	<ng-include src="'views/research-menu.html'" ng-if="$index==currentPage * pageSize"></ng-include>
	<a ng-click="clickThumb(item)" title="{{item.get_name()}}" ng-class="item.get_thumbnailUrl() + item.get_name() == activeItem ? 'thumbnail active' : 'thumbnail'">
		<i 
		   class="fa fa-image"
		   ng-if="item.get_backgroundImageset() != null || item.get_studyImageset() != null"></i>
		<img ng-src="{{item.get_thumbnailUrl()}}" alt="Thumbnail of {{item.get_name()}}" />
		<label>{{item.get_name()}}</label>
	</a>
	<div ng-if="!isMobile && !item.get_isFolder() && !item.get_name().toLowerCase()!='Up Level'" class="dropdown" ng-mouseenter="moveMenu($index,item)" id="menuContainer{{$index}}">
		<span bs-popover="popover" class="thumb-popover" style="height:0;width:100%;display:block"
			  data-placement="bottom" tabindex="0"
			  data-content-template="views/popovers/property-panel.html"
			  data-container="body">&nbsp;</span>
		<a data-toggle="dropdown" role="button" ng-click="showMenu(item,$index)" class="yellow-arrow">
			<img ng-src="images/context-menu-arrow.png" class="menu" />
		</a>
	</div>
</span>
<span ng-if="item.get_thumbnailUrl().length > 15 && !($index >= currentPage * pageSize && $index < (currentPage + 1) * pageSize)">
	<img ng-src="{{item.thumb}}" style="position:absolute;top:-9999px" />
</span>