
<i ng-if="node.children.length > 0" ng-class="node.collapsed ? 'fa fa-plus-square-o' : 'fa fa-minus-square-o'" ng-click="node.collapsed = !node.collapsed;nodeChange(node)"></i>
<i ng-if="node.children.length == 0" class="fa">&nbsp;&nbsp;&nbsp;</i>
<div class="checkbox">
    <label data-ng-class="{checked:node.checked, disabledChild:node.disabled}" localize="{{node.name}}" localize-only="title">
        <input type="checkbox" ng-model="node.checked" ng-disabled="node.disabled"  data-ng-change="nodeChange(node)" />
	    <span localize="{{node.name}}"></span>
    </label>
</div>